<table>
  <tr>
    <th colspan="6">Your dice rolls</th>
  </tr>
  <tr>
    <td>1s</td>
    <td>2s</td>
    <td>3s</td>
    <td>4s</td>
    <td>5s</td>
    <td>6s</td>
  </tr>
  <tr>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
    <td> </td>
  </tr>
</table>