h1 {
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  height: 300px;
}

.dice {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100px;
  margin: 30px;
}

#one, #two, #three, #four, #five, #six {
  position: relative;
  left: 10px;
  width: 70px;
  height: 5px;
}

.form {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100px;
  padding: 20px;
  margin: 30px;
}

#labels {
  text-align: left;
  position: absolute;
  left: 0;
  width: 150px;
  padding: 10px;
}

#menus {
  text-align: left;
  position: absolute;
  right: 0;
  width: 70px;
  padding: 10px;
}

.exit {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 30%;
  padding: 30px;
  margin: 30px;
}

