body {
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-attachment: scroll; 
  background-color: black;
  background-position: top center;
  color: black;
}

h1 {
  text-align: center;
}

#main {
  position: relative;
  width: 800px;
  height: 800px;
  margin: 0 auto;
}


.instr {
  position: absolute;
  width: 150px;
  top: 50px;
  left: 30px;
}

.play {
  position: relative;
  top: 200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.login {

  position: relative;
  top: 300px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.dice {
  position: absolute;
  left: 0;
  width: 350px;
  height: 100px;
  margin: 10px;
}

.claim_form {
  position: absolute;
  right: 0;
  width: 200px;
  height: 100px;
  margin: 10px;
  display: none;
}

#one, #two, #three, #four, #five {
  position: absolute;
  left: 10px;
  width: 70px;
  height: 5px;
}

#labels {
  text-align: left;
  position: absolute;
  left: 0;
  width: 150px;
  padding: 10px;
}

#menus {
  text-align: left;
  position: absolute;
  right: 0;
  width: 70px;
  padding: 10px;
}

.exit {
  position: relative;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.current_player {
  display:block;
}
