h1 {
  text-align: center;
}

span {
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  height: 300px;
}

.dice {
  position: absolute;
  left: 0;
  width: 30%;
  padding: 30px;
  margin: 30px;
}

.form {
  position: absolute;
  right: 0;
  width: 30%;
  padding: 30px;
  margin: 30px;
}

.exit {
  position: absolute;
  bottom: 0;
  width: 30%;
  padding: 30px;
  margin: 30px;
}