 <div class="form">
    <form action="/claim" method="post">
      My claim:
      <p id="labels">
        Number of dice:
        <br>
        Die value:
      </p>
      <p id="menus">
        <select name="numDice">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br>
        <select name="dieValue">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>'s
      </p>
      <input type="submit" value="Submit bid" id="bid-btn" disabled>
    </form>
  </div>
</div>

<div class="roll">
  <input id="roll-btn" data-dice-count="<%=@player.number_of_dice%>" type="submit" value="Roll dice">
</div>

</br>
    <form action="/bullshit" method="post">
      <input type="submit" value="Bullshit!">
    </form>
<p>