
<div class="login">
  Click to join a game:</br>
  <% Game.last(10).each do |game| %>
    <a href=/join/<%= game.id %>>join game <%= game.id %></a>, players: <%=game.players.all.count%></br>
  <% end %>
</div