<div class='login'>
  <h3>
    Enter your name and click the play button to join a game!
  </h3>
  <form action="/play" method="post">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="submit" value="Play Liars Dice!">
  </form>
</div>