Enter your name and click the play button to start finding an opponent!
<form action="/play" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="submit" value="Play Liars Dice!">
</form>