Joining game <%=@game_id%>...</br>
</br>
Enter your name and click the button to play!
<form action="/play" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="submit" value="Play Liars Dice!">
</form>
