<!DOCTYPE html>
<html>
<head>
  <title>Liar's Dice</title>
<link rel="stylesheet" type="text/css" href="/style.css"
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/underscore-min.js"></script>
<script type="text/javascript" src="javascripts/load.js"></script>

</head>

<body>
  <h1>Liar's Dice!</h1>
  <div id="main" align="center">
    <%= yield %>
  </div>

</body>
</html>
