<!DOCTYPE html>
<html>
<head>
  <title>Liar's Dice</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore-min.js"></script>
<script type="text/javascript" src="/javascripts/load.js"></script>

</head>

<body>

  <div id="main">
    <div class="instr">
      Ahoy me hearty! Read ye these steps, savvy?<br>
      <ol>
        <li>Roll yer dice!</li>
        <li>Make yer bid!</li>
        <li>On yer next turn, if ye think the last player lied, challenge 'im!</li>
      </ol>
    </div>
    <%= yield %>
  </div>
</body>
</html>
