<!DOCTYPE html>
<html>
<head>
  <title>Liar's Dice</title>
<link rel="stylesheet" type="text/css" href="style.css"
</head>

<body>
  <h1>Liar's Dice!</h1>
  <div id="main" align="center">
    <%= yield %>
  </div>
</body>
</html>
