<!DOCTYPE html>
<html>
<head>
  <title>Liar's Dice</title>
<link rel="stylesheet" type="text/css" href="/style.css">
<script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/javascripts/underscore-min.js"></script>
<script type="text/javascript" src="/javascripts/load.js"></script>

</head>

<body>

  <div id="main">
    <div class="instr">
      Ahoy me hearty! Ye must roll yer dice an make yer claim before yer made to walk the plank to visit Davy Jones' Locker!  Savvy?
    </div>
    <%= yield %>
  </div>
</body>
</html>
