<div class="play">
  <%if winner? %></br></br> WE HAVE A WINNER!!!! <%end%>

  <h3>Welcome to game <%=@game.id%> <%=@player.name%>!</h3>
  <%= erb :_player_queue %>
  <%= erb :_current_player %>

  <div class="exit">
    <form action="/exit" method="get">
      <input type="image" value="Quit Game" src="button_quit.jpg">
    </form>
  </div>
</div>
