<p>
  Ahoy me hearty! <%= @player.name %>, ye must roll yer dice an make yer claim before yer made to walk the plank to visit Davy Jones' Locker!  Savvy?
</p>
<div class="container">
    <h3>Your dice rolls</h3>
  <div class="dice">
      <span>1s</span>
      <span>2s</span>
      <span>3s</span>
      <span>4s</span>
      <span>5s</span>
      <span>6s</span>

      <span> </span>
      <span> </span>
      <span> </span>
      <span> </span>
      <span> </span>
      <span> </span>
  </div>

  <div class="form">
    <form action="/play" method="post">
      <select>
        <option>1</option>
      </select>
    </form>
  </div>

  <div class="exit">
    <form action="/exit" method="get">
      <input type="submit" value="Quit Game">
    </form>
  </div>
</div>