<p>
  Ahoy me hearty! <%= @player.name %>, ye must roll yer dice an make yer claim before yer made to walk the plank to visit Davy Jones' Locker!  Savvy?
</p>
<div class="container">
  <h3>Your dice rolls</h3>
  <div class="dice">
      <p id="one">
        1's: 
      </p>
      <p id="two">
        2's: 
      </p>
      <p id="three">
        3's:
      </p>
      <p id="four">
        4's: 
      </p>
      <p id="five">
        5's:
      </p>
      <p id="six">
        6's:
      </p>
  </div>

  <div class="form">
    <form action="/claim" method="post">
      My claim:
      <p id="labels">
        Number of dice:
        <br>
        Die value:
      </p>
      <p id="menus">
        <select name="numDice">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <br>
        <select name="dieValue">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>'s
      </p>
      <input type="submit" value="Submit bid">
    </form>
  </div>

  <div class="exit">
    <form action="/exit" method="get">
      <input type="submit" value="Quit Game">
    </form>
  </div>
</div>