<div class="play">
  <%if winner? %></br></br> WE HAVE A WINNER!!!! <%end%>

  <h3>Welcome to game <%=@game.id%> <%=@player.name%>!</h3>
  <%= erb :_player_queue %>
  <%= erb :_current_player %>

</div>
