<div class="winner">
  <h3>Well blow me down! <br>Ye land lubber, ye won!</h3>
  Maybe ye won't have to walk the plank afterall...
  <p>
    <form action="/" method="get">
      <input type="image" id="new-btn" src="button_new.jpg">
    </form>
  </p>
</div>